*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#netbeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
.nb-gradle/
/src/org/rich_merlin/crypto/api/BtcWisdomAPI.java
/src/org/rich_merlin/crypto/api/BtcWisdomApiPeriod.java
/src/org/rich_merlin/crypto/api/BtcWisdomApiTrades.java
/src/org/rich_merlin/crypto/api/HuobiApiGetOrders.java
/src/org/rich_merlin/crypto/api/HuobiApiSell.java
/src/org/rich_merlin/crypto/api/HuobiApiGetAccountInfo.java
/src/org/rich_merlin/crypto/api/HuobiApiSellMarket.java
/src/org/rich_merlin/crypto/api/HuobiApiCancelOrder.java
/src/org/rich_merlin/crypto/api/HuobiApiOrderInfo.java
/src/org/rich_merlin/crypto/api/HuobiApiRealtime.java
/src/org/rich_merlin/crypto/api/HuobiApiDepth.java
/src/org/rich_merlin/crypto/api/OkCoinApiPrivate.java
/src/org/rich_merlin/crypto/api/HuobiApiTypes.java
/src/org/rich_merlin/crypto/api/OkCoinApiTypes.java
/src/org/rich_merlin/crypto/api/HuobiApiBuy.java
/src/org/rich_merlin/crypto/api/HuobiApiPublic.java
/src/org/rich_merlin/crypto/api/HuobiApiGetNewDealOrders.java
/src/org/rich_merlin/crypto/api/HuobiApiBuyMarket.java
/src/org/rich_merlin/crypto/api/HuobiApiPrivate.java
/src/org/rich_merlin/crypto/api/CryptsyApiGetInfo.java
/src/org/rich_merlin/crypto/api/CryptsyAPI.java
/src/org/rich_merlin/crypto/api/CryptsyApiMyOrders.java
/src/org/rich_merlin/crypto/api/CryptsyApiMarketOrders.java
/src/org/rich_merlin/crypto/api/CryptsyApiCancelOrder.java
/src/org/rich_merlin/crypto/api/CryptsyApiMarketTrades.java
/src/org/rich_merlin/crypto/api/CryptsyApiDepth.java
/src/org/rich_merlin/crypto/api/CryptsyApiCreateOrder.java
/src/org/rich_merlin/crypto/api/CryptsyApiMyTrades.java
/src/org/rich_merlin/crypto/api/CryptsyApiGetMarkets.java
/src/org/rich_merlin/crypto/api/CryptsyApiGetOrderStatus.java